body{
    background-color: white;
}
form{
    width: 30rem;
    margin: 1.5rem auto;
    padding: 1rem;
    background-color: rgba(238, 235, 235, 0.927);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(0,0,0,0.3);
}
label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}
input,textarea{
    display: block;
}
textarea{
    resize: none;
}
h1{
    text-align: center;
    margin-bottom: 0;
}
h2{
    margin-top: 0.5rem;
    margin-bottom: 1.25rem;
}
input,textarea,select{
    width: 100%;
    box-sizing: border-box;
    padding: 0.25rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin-bottom: 1rem;
}
.form-inline{
    display: flex;
    align-items: center;
}
.form-inline input{
    width: auto;
}
.form-inline label{
    margin: 0;
}
.button{
    display: flex;
    justify-content: flex-end;
}
button{
    margin: 0.25rem;
    padding: 0.25rem;
}
input:focus,textarea:focus{
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    color: rgba(51, 35, 167, 0.927);
}
button{
    display: block;
    background-color: rgb(104, 18, 202);
    color: white;
    border: 1px solid rgb(104, 18, 202);
    padding: 0.25rem;
    border-radius: 4px;
    transition: background-color 0.5s ease-in; 
}
button:hover{
    cursor: pointer;
    background-color: rgb(130, 75, 192);
    border-color: rgb(130, 75, 192);
}